function start() {
    // Inicjalizacja pozycji i parametrów
    ground(surface='XY');
    autoLevel(save=true);
    setAngle(angle=0);
    let bok = 40;
    let ile = 4;
    let krok = 0;
/* fdspfsf 
fds,fksd, false
*/
    penDown();

    repeat 4 {
        forward(L=bok);
        turn(angle=90);
    }

    penUp();

    if (bok > 30) {
        move(X=10, Y=20);
    } else {
        move(X=5, Y=-40);
    }

    while (krok < 3) {
        forward(L=20);
        turn(angle=120);
        krok++;
    }
    //filledCircle(R=30, X=0, Y=0);
    penDown();
}

/*
function getSize() {
  let size = 100;
  penDown();

  // pionowa kreska litery L
  let x;
  repeat 2 {
    x = size / 2;
    forward(x = size / 2);
    turn(180);
  }

  // przesunięcie i pozioma kreska litery L
  penUp();
  forward(size / 2);
  turn(-90);
  penDown();
  forward(size);

  cleanNozzle();

  // warunek testowy (przykładowy if)
  if (size > 50) {
    move(1);
  } else {
    move(0);
  }
  return size;
}*/
