function getSize(let i) {
  let size = 100;
  penDown();

  // pionowa kreska litery L
  let x;
  x = size;
  repeat 2 {
    x = x / 2;
    forward(L=x);
    turn(angle=180);
  }
  let key = 4;

  // przesunięcie i pozioma kreska litery L
  penUp();
  forward(L=x);
  turn(angle=-90);
  penDown();
  forward(L=size);
  vamos = 4;

  cleanNozzle();
  nextSurface();

  // warunek testowy (przykładowy if)
  if (size > 50) {
    move(X=1, Y=30);
  } else {
    move(X=0, Y=30);
  }
}


function start() {
    // Inicjalizacja pozycji i parametrów
    ground(surface='XY');
    autoLevel(save=true);
    setAngle(angle=0);
    let bok = 40;
    let ile = 4;
    let krok = 0;
    let x = (ile+12)*2;
    penDown();
    let y = ile / 3;
    repeat 4 {
        forward(L=bok);
        turn(angle=90);
    }
    
    penUp();

    if (bok > 30) {
        move(X=10, Y=20);
    } else {
        move(X=5, Y=-40);
    }

    while (krok < 3) {
        forward(L=20);
        turn(angle=120);
        krok++;
    }
    
    filledCircle(R=30, X=0, Y=0);
    penDown();
    // getSize() function:
    let par = 50;
    getSize(i=50);
    penUp();
    forward(L=100);
    drawLetter(letter='M', X=20, Y=20, L=30, W=30);
    filledCircle(R=20, X=0, Y=0);
    nextSurface();
    circle(R=10, X=0, Y=0);
}