function start() {
    // Inicjalizacja pozycji i parametrów
    let bok = 40
    let ile = 4
    let krok = 0

    setSpeed(1000)
    penDown()
    
    repeat ile {
        forward(bok)
        turn(90)
    }

    penUp()

    if (bok > 30) {
        move(10)
    } else {
        move(5)
    }

    while (krok < 3) {
        forward(20)
        turn(120)
        krok++
    }

    return 0
}
